
/**
* @template:  Beidea

TABLE OF CONTENTS

	* Global
		+ Navbar
		+ Header
		+ Hero
		+ Us
		+ Team
		+ Numbers
		+ Services
		+ Portfolio
		+ clients
		+ Price
		+ Blog
		+ Contact
		+ Map
		+ Footer
		
*/

$main-color: #DC143C;

@import "main.css";

/* -------------------------------------------------------
                     Global 
-------------------------------------------------------- */

body{
	font-family: 'Source Sans Pro', sans-serif;
	color: #111;
	font-weight: 400;
}

.section-padding{
	padding: 100px 0;
}

p{
	color: #777;
	line-height: 1.8;
	font-size: 16px;
}

.section-head{

	margin-bottom: 80px;

	h6{
		font-size: 12px;
		letter-spacing: 4px;
		text-transform: uppercase;
		color: $main-color;
		margin-bottom: 15px;
	}

	h4{
		margin-bottom: 30px;
		font-family: 'Raleway', sans-serif;
		font-weight: 300;
	}
}

.btn-bg-md{
  border: 1px solid #DC143C;
  background: #DC143C;
}

.btn-bg-md:hover,
.btn-bord-md:hover{
  border-color: #DC143C;
  color: #DC143C;
  background: transparent;
}

/* -------------------------------------------------------
                     Navbar 
-------------------------------------------------------- */

.navbar-default{
	padding: 20px 0 30px;
	background: none;
	border:none;
	border-radius: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;

	.navbar-brand{
		font-weight: 900;
		font-size: 35px;
		color: $main-color;
		padding-top: 20px;
		font-family: 'Montserrat', sans-serif;

		&:hover{
			color: $main-color;
		}

		span{
			font-weight: 100;
			color: #eee;
			font-family: "Source Sans Pro", sans-serif;
		}
	}

	.navbar-nav>li>a{
		margin: 0!important;
		color: #eee!important;
		padding: 0!important;
	}

	.navbar-nav>li{
		font-size: 16px;
		margin: 25px 20px 0;
		padding: 5 10px;
		background: none;
		cursor: pointer;
		position: relative;

		.active{
			color: $main-color !important;
			background: none;
		}
	}
}

.nav-scroll{
	background: #fff;
	box-shadow: 0px 0px 10px #f1f1f1;
	min-height: 60px;
	line-height: 60px;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition: all .5s;

	.navbar-brand{
		
		span{
			display: none;
		}
	}

	.navbar-nav>li>a{
		color: #111 !important;
	}
}

/* -------------------------------------------------------
                    Header
-------------------------------------------------------- */

.header{
	min-height: 100vh;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;

	.header-overlay{
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0,0,0,.8);
	}

	.caption{
		color: #fff;
		font-family: 'Raleway', sans-serif;

		h3{
			margin-bottom: 20px;
			font-weight: 100;
		}

		h2{
			margin-bottom: 50px;
			font-weight: 200;
		}

		.button{
			margin: 0 2px 0;
		}
	}

	.button-scroll{
		position: absolute;
		bottom: 5vh;
		left: calc(50% - 13px);
		width: 26px;
		height: 50px;
		border-radius: 15px;
		border:2px solid #fff;
		cursor: pointer;
		z-index: 9;

		span{
			height: 10px;
			width: 2px;
			position: absolute;
			left: calc(50% - 1px);
			background: #fff;
			-webkit-animation: scroll .5s infinite alternate;
		    -moz-animation: scroll .5s infinite alternate;
		    animation: scroll .5s infinite alternate;
		}
	}
}

@keyframes scroll{
    0% { top: 50%; }
    50% { top: 55%; }
    100% { top: 60%; }
}
@-webkit-keyframes scroll{
    0% { top: 50%; }
    50% { top: 55%; }
    100% { top: 60%; }
}
@-moz-keyframes scroll{
    0% { top: 50%; }
    50% { top: 55%; }
    100% { top: 60%; }
}

.header.demo1{
	background-image: url("http://via.placeholder.com/1920x1080");
}

/* -------------------------------------------------------
                    Hero
-------------------------------------------------------- */

.hero{
	padding-bottom: 0;
}

/* -------------------------------------------------------
                    Us
-------------------------------------------------------- */

.us{

	background: #fafafa;
	text-align: center;

	.item{

		padding: 50px 30px;
		background: #fff;
		box-shadow: 0px 0px 5px #eee;

		span{
			font-size: 40px;
			color: $main-color;
			margin-bottom: 30px;
		}

		h6{
			margin-bottom: 30px;
			padding-bottom: 30px;
			position: relative;
			letter-spacing: 1px;

			&:after{
				content: "";
				width: 50px;
				height: 1px;
				background: $main-color;
				position: absolute;
				bottom: 0;
				left: calc(50% - 25px);
			}
		}
	}
}

/* -------------------------------------------------------
                     Team 
-------------------------------------------------------- */

.team{

	.team-item{
		position: relative;

		&:hover .info{
			opacity: 1;
		}

		.info{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,.9);
			color: #fff;
			opacity: 0;
			transition: all .5s;

			h6{
				font-weight: 300;
				color: $main-color;
				margin-bottom: 10px;
			}

			h5{
				font-weight: 200;
				margin-bottom: 30px;
			}

			span{
				margin: 0 10px 0;

				&:hover{
					color: $main-color;
				}
			}
		}
	}

	.why-us{
		padding: 100px 0 0;

		h4{
			margin-bottom: 30px;
		}

		.button{
			margin-top: 40px;
		}
	}

	.skills{
		padding: 100px 0 0;

		.item{

			h6{
				font-size: 14px;
			 	text-transform: uppercase;
			 	margin: 0 0 10px 10px;
			}

			.skills-progress{
			 	width: 100%;
			 	height: 30px;
			 	border-radius: 30px;
			 	margin-bottom: 30px;
			 	background: #fafafa;

			 	span{
				 	width: 0;
				 	height: 100%;
				 	border-radius: 30px;
				 	background: $main-color;
				 	position: relative;
				 	transition: all .5s;

				 	&:after{
					 	content: attr(data-value);
					 	width: 28px;
					 	height: 28px;
					 	line-height: 28px;
					 	text-align: center;
					 	font-size: 10px;
					 	border-radius: 50%;
					 	background: #fafafa;
					 	position: absolute;
					 	top: 1px;
					 	right: -5px;
					 }
				 }
			 }
		}
	}
}

/* -------------------------------------------------------
                    Numbers
-------------------------------------------------------- */

.numbers{
	background-image: url("http://via.placeholder.com/1920x1080");
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	color: #fff;

	&:after{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,.9);
		z-index: 0;
	}

	.container{
		position: relative;
		z-index: 2;
	}

	.numb-item{
		span{
			color: $main-color;
			font-size: 40px;
			margin-bottom: 20px;
		}

		h3{
			position: relative;
			margin-bottom: 10px;
			padding-bottom: 10px;

			&:after{
				content: "";
				width: 30px;
				height: 1px;
				background: $main-color;
				position: absolute;
				bottom: 0;
				left: calc(50%  - 15px);
			}
		}

		h6{
			color: #eee;
		}
	}
}

/* -------------------------------------------------------
                    Services Tabs
-------------------------------------------------------- */

.services{

	padding-bottom: 0;

	.tabs-icon{

		li{
			display: inline-block;
			padding: 0 40px;
			margin-bottom: 80px;
			cursor: pointer;
			color: #888;
			position: relative;

			&:before{
				content: "";
				width: 1px;
				height: 90%;
				background: #eee;
				position: absolute;
				top: 5%;
				right: 0;
			}

			&:last-child:before{
				display: none;
			}

			&:after{
				content: "";
			    border-left: 20px solid transparent;
			    border-right: 20px solid transparent;
			    border-bottom: 20px solid #fafafa;
			    position: absolute;
			    bottom: -90px;
			    left: calc(50% - 20px);
			    display: none;
			}

			span{
				font-size: 40px;
				margin-bottom: 15px;
			}

			h6{
				font-size: 16px;
				text-transform: uppercase;
			}
		}

		.active{
			color: $main-color;

			&:after{
				display: block;
			}
		}
	}

	.services-content{
		min-height: 350px;
		padding: 80px 0;
		background: #fafafa;

		.item{
			display: none;

			.icon{
				font-size: 180px;
				color: #f4f4f4;
			}

			h5{
				color: #222;
				margin: 0;
				font-family: 'Raleway', sans-serif;
				line-height: 1.5;
				letter-spacing: 2px;
				font-weight: 300;
			}
		}

		.active{
			display: block;
		}
	}
}

/* -------------------------------------------------------
                    Portfolio
-------------------------------------------------------- */

.portfolio{
	overflow: hidden;

	.filtering{

		span{
			margin: 0px 10px;
			padding: 5px 10px;
			font-size: 16px;
			color: #777;
			cursor: pointer;
		}

		.active{
			color: $main-color;
		}
	}

	.item-img {
		padding: 0px;
		position: relative;

		.item-img-overlay{
			position: absolute;
			top: 0px;
			left: 0px;
			right: 0px;
			bottom: 0px;
			background: rgba(0,0,0,.9);
			opacity: 0;
			overflow: hidden;
			transition: all .5s;
			color: #fff;

			&:hover{
				opacity: 1;
			}

			h6{
				margin-bottom: 20px; 
			}

			.icon a{
				display: inline-block;
				width: 35px;
				height: 35px;
				line-height: 35px;
				margin: 5px;
				font-size: 14px;
				border: 1px solid #eee;
			}
		}
	}
}

/* -------------------------------------------------------
                    v1-clients
-------------------------------------------------------- */

.clients{
	background-image: url("http://via.placeholder.com/1920x1080");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	position: relative;

	&:after{
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0,0,0,.8);
		z-index: 1;
	}

	.container{
		position: relative;
		z-index: 2;
	}

	.client-say{
		color: #fff;

		span{
			font-size: 40px;
			margin-bottom: 30px;
			color: $main-color;
		}

		h4{
			font-family: "Raleway", sans-serif;
			font-weight: 200;
			margin-bottom: 50px;
		}

		.client-item{

			p{
				font-size: 18px;
				color: #ccc;
				font-style: italic;
				font-family: "Raleway", sans-serif;
				margin-bottom: 30px;
			}

			h6{
				font-size: 14px;
				color: $main-color;
				margin-bottom: 10px;
			}

			h5{
				font-size: 16px;
				font-weight: 200;
				letter-spacing: 1px;
				margin-bottom: 30px;
			}
		}
	}

	.owl-theme .owl-dots{

		span{
			width: 2px;
			height: 10px;
			background: #eee;
			margin: 0 5px;
		}

		.active span{
			height: 18px;
			background: $main-color;
		}
	}
}

/* -------------------------------------------------------
                    Price
-------------------------------------------------------- */

.price{

	.prc-item{
		border: 1px solid #eee;
		border-radius: 5px;
		padding: 30px;

		.type{
			padding-bottom: 30px;

			h5{
				font-size: 22px;
				text-transform: uppercase;
			}
		}

		.main-price{
			border-top: 1px solid #eee;
			border-bottom: 1px solid #eee;
			padding: 30px 0;
			margin-bottom: 25px;

			h1{
				display: inline-block;
				position: relative;
				padding-right: 30px;
				margin-right: 30px;

				&:after{
					content: "";
					height: 100%;
					width: 1px;
					background: #888;
					position: absolute;
					right: 0;
					top: 0;
					transform: rotate(-20deg);
				}

				span{
					font-size: 20px;
				}
			}

			.per{
				font-size: 20px;
			}
		}

		.features{

			p{
				padding: 2px 0;
				font-size: 16px;

				.icon{
					margin-right: 10px;
				}
			}
		}
	}

	.button{
		border: 1px solid #222;
		background: #222;
		color: #fff;
		letter-spacing: 1px;
		text-transform: uppercase;
		padding: 15px;
		text-align: center;
		margin: 30px auto 0;
	}

	.active{
		border-color: $main-color;
		background: $main-color;

		h1{
			color: #fff;

			&:after{
				background: #fff !important;
			}
		}

		h5, p, span{
			color: #fff;
		}

		.button{
			background: #fff;
			border-color: #fff;
			color: $main-color;
		}
	}
}

/* -------------------------------------------------------
                    Blog
-------------------------------------------------------- */

.blog{
	background: #fafafa;

	.post-content{
		padding: 30px 20px 15px;
		background: #fff;

		h6{
			margin-bottom: 15px;
			font-family: "Raleway", sans-serif;
			font-weight: 300;
		}

		p{
			color: #999;
		}

		a span{
			color: $main-color;
			margin: 0 auto 15px;			
			font-size: 14px;
		}

		.info{
			padding-top: 15px;
			border-top: 1px solid #eee;

			li{
				display: inline-block;
				margin: 0 10px -15px 0;
				padding: 0;
				font-size: 12px;
				color: #888;

				span{
					padding-right: 4px;
					color: $main-color;
				}
			}
		}
	}
}

/* -------------------------------------------------------
                    Contact
-------------------------------------------------------- */

.contact{

	.info{
		margin-bottom: 80px;

		.item{
			text-align: center;

			.icon{
				font-size: 40px;
				margin-bottom: 10px;
			}

			h6{
				text-transform: uppercase;
				margin-bottom: 10px;
			}
		}
	}

	.main-form{

		input{
			width: 100%;
			padding: 10px;
			border: 1px solid #eee;
			background: #fafafa;
			margin-bottom: 15px;
		}

		input[type="submit"]{
			background: $main-color;
			transition: all .5s;

			&:hover{
				border-color: $main-color;
				background: transparent;
				color: $main-color;
			}
		}

		textarea{
			width: 100%;
			height: 140px;
			max-width: 100%;
			max-height: 140px;
			padding: 10px;
			background: #fafafa;
			border: 1px solid #eee;
		}
	}
}

/* -------------------------------------------------------
                    Map
-------------------------------------------------------- */

.map{
	margin: 0 auto;

	.map-toggle{
		padding: 20px 0;
		text-align: center;
		background: #f1f1f1;
		cursor: pointer;

		span{
			font-size: 16px;
			text-transform: uppercase;
			position: relative;
			padding-right: 10px; 

			&:after{
				content: "\f106";
				font-family: "FontAwesome";
				color: $main-color;
				position: absolute;
				right: -10px;
			}
		}

		.open{

			&:after{
				content: "\f107";
			}
		}
	}

	.map-loc{
		height: 400px;
		display: none;

		iframe{
			width: 100%;
			height: 100%;
		}
	}
}

/* -------------------------------------------------------
                    Footer
-------------------------------------------------------- */

footer{
	background: #111;
	color: #fff;

	.main-footer{
		padding: 80px 0;

		.footer-logo{
			font-weight: 100;
			font-size: 35px;
			color: #eee;
			margin-bottom: 30px;

			span{
				font-weight: 900;
				color: $main-color;
				font-family: 'Montserrat', sans-serif;
			}
		}

		.social-icon{

			span{
				width: 40px;
				height: 40px;
				line-height: 40px;
				color: #888;
				background: #151515;
				transition: all .5s;

				&:hover{
					background: $main-color;
					color: #fff;
				}
			}
		}
	}

	.sub-footer{
		text-align: center;
		padding: 20px 0;
		border-top: 2px solid #151515;
	}
}